<html>

<head>
   <link rel="stylesheet" href="index.css">
</head>

<body>
   <div class="product">
      <p class="form-label">Select a product:</p>
      <form action="http://localhost:5000/" method="post" >
         <label for="nm">User ID:</label>
         <input type="text" name="nm" id="nm" /><br><br>
         <label for="pr">Product:</label>
         <input type="text" name="pr" id="pr" /><br><br>
         <label for="qty">Quantity:</label>
         <input type="text" name="qty" id="qty" /><br><br>
         <input type="submit" value="Provide reccomendation" class="btn" />
      </form>
   </div>
   <div id="result">

   </div>
</body>

</html>