<!DOCTYPE html>
<html>
<head>
    <title>
        UnScript
    </title>
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    * {
    box-sizing: border-box;
    }

    .column {
    float: left;
    width: 50%;
    padding: 10px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
</head>
<body>
<br>
    <img class="center_logo" style="border-radius: 20px; border: 100px black;" height="200vh" alt="Robot logo" src="./static/images/Maverick.png"></img>
    <br><br>
<div class="row">
  <div class="column">
    <div class="center">
        <form class="center" action = "http://localhost:5000/login" method = "post">
            <p>User ID</p>
            <p><input type = "text" name = "nm" /></p>
            <p>Product ID:</p>
            <p><input type = "text" name = "pr" /></p>
            <p>Quantity (in HL):</p>
            <p><input type = "text" name = "qty" /></p>
            <p><input type = "submit" value = "submit" /></p>        
        </form>   
    </div>
  </div>
  <div class="column">
    <div class="center">
        <div>New recommendations based on users using similar product: {{res[0]}}</div>
        <div>New recommendations based on users in similar location and groupements: {{res[1]}}</div>
        <div>New recommendations based on similar products: {{res[2]}}</div>
        <div>Previously ordered products recommendations based on users using similar product: {{res[3]}}</div>
        <div>Previously ordered products recommendations based on users in similar location and groupements: {{res[4]}}</div>
        <div>Previously ordered products recommendations based on similar products: {{res[5]}}</div>
    </div>
  </div>
</div>

</body>
</html>
